<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.SQLServerDialect</property>
    <mapping resource="com/app/wms/hbm/bean/City.hbm.xml"/>
    <mapping resource="com/app/wms/hbm/bean/Customer.hbm.xml"/>
    <mapping resource="com/app/wms/hbm/bean/Product.hbm.xml"/>
    <mapping resource="com/app/wms/hbm/bean/Tallyman.hbm.xml"/>
    <mapping resource="com/app/wms/hbm/bean/PoDetail.hbm.xml"/>
    <mapping resource="com/app/wms/hbm/bean/Po.hbm.xml"/>
    <mapping resource="com/app/wms/hbm/bean/GoodreceiveDetail.hbm.xml"/>
    <mapping resource="com/app/wms/hbm/bean/Goodreceive.hbm.xml"/>
    <mapping resource="com/app/wms/hbm/bean/Vgrdetailproduct.hbm.xml"/>
    <mapping resource="com/app/wms/hbm/bean/Vgrdetailproductcategory.hbm.xml"/>
    <mapping resource="com/app/wms/hbm/bean/Putaway.hbm.xml"/>
    <mapping resource="com/app/wms/hbm/bean/PutawayDetail.hbm.xml"/>
    <mapping resource="com/app/wms/hbm/bean/Stocktake.hbm.xml"/>
    <mapping resource="com/app/wms/hbm/bean/Vputawaydetailproduct.hbm.xml"/>
    <mapping resource="com/app/wms/hbm/bean/Crossdock.hbm.xml"/>
    <mapping resource="com/app/wms/hbm/bean/CrossdockDetail.hbm.xml"/>
    <mapping resource="com/app/wms/hbm/bean/Vlocationproduct.hbm.xml"/>
    <mapping resource="com/app/wms/hbm/bean/Pocsv.hbm.xml"/>
    <mapping resource="com/app/wms/hbm/bean/Vproductsku.hbm.xml"/>
    <mapping resource="com/app/wms/hbm/bean/Vbalanceputawaydetail.hbm.xml"/>   
    <mapping resource="com/app/wms/hbm/bean/CorpUser.hbm.xml"/>  
    <mapping resource="com/app/wms/hbm/bean/WhLocatingArea.hbm.xml"/>
  </session-factory>
</hibernate-configuration>
